<p>home of Shell works!</p>

<h1>Empfehlungen</h1>
<ul>
  <li>Nutze die <b>neuste</b> Version des Module Federation E-Books unter <a href="https://www.angulararchitects.io/en/book/">diesem Link</a></li>
</ul>
<h2>Für Oblique generell:</h2>
<ul style="line-height:1.5">
 <li> Einsatz für Oblique-Doku separieren --> abstimmung, ob wir das wollen</li>
 <li> Wollen wir als Oblique Micro Frontend aufnehmen in der Doku (In Form von <b>How To</b> für unsere User)?</li>
 <li>Empfehlungen für unsere User, wenn wir Module Federation aufnehmen:
 <ul>
   <li>
     Immer aktuelle Anleitung nutzen
   </li>
 <li>
   Immer aktuelle Angular- plus aktuelle Oblique Versionen nutzen
 </li>
   <li>
     Micro Frontend-Technologie ist nicht überall geeignet.
     <ul>
       <li>
         Kein Ersatz für Lib
       </li>
       <li>
         Kein Ersatz für WebComponents
       </li>
     </ul>
   </li>
   <li>
     Micro frontends machen dann Sinn, wenn sich verschiedene teams um die Lösungen / Pages kümmern
   </li>
   <li>
     Zu fein schneiden macht keinen Sinn
   </li>
   <li>
     Möglichst gleiche angular version nutzen --> reduziert bundles für client
   </li>
   <li>
     Services als Lib bereitstellen, wenn gemeinsam genutzter State genutzt wird (Beispiel )
   </li>
   <li>
     Monorepo nutzen, solange wie möglich (selbes projekt gegenüber Kund:in)
   </li>
   <li>
     Evt. libs für monorepo nutzen / anschauen (bspw. https://nx.dev/more-concepts/why-monorepos)
   </li>
   <li>
     Bei Interesse persönlich Tutorial von Manfred Steyer durchgehen (wird augenscheinlich regelmässig aktualisiert)
   </li>
 </ul>
 </li>
</ul>



